#main-grid-container {
    display: grid;
    grid-template-areas:
        "header sidebar main-content";
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: auto;
}

#main-grid-container>* {
    border: 1px solid black;
}

#header {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    display: block;
}

#main-content {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #e2e8f0;
    padding-top: 1rem;
}

#main-container {
    display: grid;
    grid-template-areas:
        "announcments your-projects trending";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
    background-color: #e2e8f0;

}

#announcements {
    display: grid;
    border: 1px solid black;
    grid-template-areas:
        "announcment-item";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-gap: 2rem;
}

#announcements>* {
    border: 1px solid black;
    margin: 1rem;
    background-color: #f8fafc;
}

#your-projects {
    display: grid;
    border: 1px solid black;
    grid-template-areas:
        "your-project-item your-project-item";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-gap: 2rem;
    background-color: #e2e8f0;
}

#your-projects>* {
    border: 1px solid black;
    margin: 1rem;
    background-color: #f8fafc;
}

#projects-heading{
}

#trending {
    border: 1px solid black;
    display: grid;
    grid-template-areas:
        "trending-item";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, fr);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-gap: 2rem;
}

#trending>* {
    border: 1px solid black;
    margin: 1rem;
    background-color: #f8fafc;
}